body{
    font-family: 'Courier New', Courier, monospace;
    background-color:plum;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.container{
    background: brown;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}
h2{
    text-align: center;
    color: black;
    font-style: italic;

}
button{
    color: black;
    padding: 5px;
    border-radius: 5px;  
    margin: 5px;
}



