body{ 
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
background-color: aqua;
margin: 0;
padding: 0;   
}
.counter-container{
    background: plum;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 50px;
}
button{
    font-size: 10px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
}
#increase{
    background-color: green;
}
    #decrease{
        background-color: red;
    }
    #reset{
        background-color: gray;
    }

