*{
 font-family: 'Courier New', Courier, monospace; 
 font-size: 20px;  
}
#list1{
    color: brown;
}
.ul1{
background-color: rgb(120, 128, 54);
color: indigo;
width: 25%;
padding: 20px;
margin: 20px;
border: 5px solid blue;
border-radius: 10px;
transition: 0.5 ease-in-out;
}
.ul1:hover{
background-color: darkslategray;
border: 2px solid plum;
}
.ul1 ol li{

    font-size: 30px;
    font-weight: 700;
}
table,th,td{
    border: 1px solid black;
}